export(Beta)
export(Env_shift)
export(Env_smooth)
export(G)
export(Log_W_bar_lethal)
export(Pheno_demo)
export(Pheno_demo_econ)
export(Pheno_demo_lande)
export(Pheno_lande)
export(R_bar)
export(Va)
export(W_bar)
export(stab_curve)
import(MASS)
import(deSolve)
useDynLib(phenoecosim)
exportPattern("^[[:alpha:]]+")
